#area{		
	padding: 20px 10px;
	text-align: center;
	color: white;
	img {
		width: 80px;
	}
	a{
		color: white !important;
		text-decoration: none;
	}
	.cursos{
		text-align: left;
		ul{
			padding-left: 20px;
		}
	}
	
	// #educacion{ background-color: #234223 }
	// #economica{ background-color: #234223 }
	// #judiciales{ background-color: #234223 }
	// #higiene{ background-color: #234223 }
	// #comunicacion{ background-color: #234223} 
}