.area{		
	padding: 20px 10px;
	text-align: center;
	color: white;
	
	img {
		width: 80px;
	}
	a{
		color: white !important;
		text-decoration: none;
	}
	ul.cursos{
		text-align: left;
		padding: 0 40px;
		li{
			padding: 5px 0;
			a:hover{
				text-decoration: underline;
			}
		}
	}
	
	&#educacion{ 
		background: url(imagenes/areas_fondos/educacion.jpg) no-repeat;
    background-size: 100%;
	 }
	// #economia-y-administracion{ background-color: #234223 }
	// #juridicas-y-sociales{ background-color: #234223 }
	// #higiene-y-seguridad{ background-color: #234223 }
	// #comunicacion{ background-color: #234223} 
}