@import '_vars';
@import 'menu';
@import 'slide';
@import 'slider';
@import 'nav';
@import 'area';
@import 'ufasta';
@import 'carrera';
@import 'consulta';
@import 'consCarrera';
@import 'contacto';
@import 'redes';
@import 'footer';
@import 'tucmacom';



input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.contenedor {
  // margin-top: 50px;
	display: inline-block;
  padding: 15px;
	// display: block;
  // min-height: 100vh;
}
